@model BlogCore.Models.ViewModels.ArticuloVM


@{
    ViewData["Title"] = "Editar Articulo";

}
<style>
    .form-border {
        border: 1px solid #000; /* 1px de ancho y color negro */
    }
</style>
<br />
<br />

<h2 class="text-center">Editar un Anuncio</h2>
<br />


<form method="POST" asp-action="Edit" enctype="multipart/form-data">
    <!-- se envia el ID del articulo como campo oculto-->
    <input type="hidden" asp-for="Articulo.Id" />
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="form-group row">
                <label class="col-4 col-form-label">
                    @Html.DisplayNameFor(model => model.Articulo.Nombre)
                </label>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre de la categoría" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group row">
                <label class="col-4 col-form-label">
                    @Html.DisplayNameFor(model => model.Articulo.UrlImagen)
                </label>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivos" class="form-control" accept="image/png, image/jpeg" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label class="col-4 col-form-label">
                    @Html.DisplayNameFor(model => model.Articulo.UrlPDf)
                </label>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivos" class="form-control" accept="application/pdf" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control" asp-route-Id="@Model.Articulo.Id">Actualizar</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver a lista</a>
                </div>
            </div>
            <br />
        </div>
    </div>
</form>


@section Scripts
    {
    <script src="https://cdn.tiny.cloud/1/qukxrn62f4bz0iv6z7enaelkkzuzugir28y709xit9xm659s/tinymce/5/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'

        });
    </script>
    <script>
        $(document).ready(function () {
            var message = '@TempData["AlertMessage"]';
            if (message) {
                Swal.fire({
                    title: 'Error',
                    text: message,
                    icon: 'error'
                });
            }
        });
    </script>
    }
