@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Proveedores";

}
<br />
<br />

<div class="border backgrounsWhite">
    <br />

    <div class="row">
        <div class="col-6">

            <h2 class="text-primary">&nbsp;&nbsp;&nbsp;Lista de Proveedores</h2>

        </div>
        <div class="col-3">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> &nbsp; Registrar un nuevo Proveedor</a>
        </div>
        <div class="col-3">
            <a asp-area="" asp-page="" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> &nbsp; Actualizar Proveedores
            </a>
        </div>
        <br />
        <br />
        <br />

    </div>

    @if(Model.Count()>0)
    {
        <table class="table table-striped table table-bordered" style="width:100%">

            <thead>
                <tr class="table-primary">
                    <th>@Html.DisplayNameFor(m => m.razonSocial)</th>
                    <th>@Html.DisplayNameFor(m => m.Email)</th> 
                    <th>@Html.DisplayNameFor(m => m.Rfc)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>

                        <td>@Html.DisplayFor(m=>item.razonSocial)</td>
                        <td>@Html.DisplayFor(m=>item.Email)</td>
                        <td>@Html.DisplayFor(m=>item.Rfc)</td>
                        <td>
                            @if(item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                            {
                                <a class="btn btn-outline-primary" asp-action="Bloquear" style="width:120px" asp-route-id="@item.Id">
                                    <i class="fas fa-lock-open"></i> Bloquear
                                </a>
                                <a class="btn btn-outline-primary" asp-action="" style="width:220px" asp-route-id="">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Restablecer contraseña
                                </a>

                            }
                            else
                            {
                                <a class="btn btn-outline-primary" asp-action="Desbloquear" style="width:120px" asp-route-id="@item.Id">
                                    <i class="fas fa-lock"></i>Desbloquear
                                </a>
                                <a class="btn btn-outline-primary" asp-action="" style="width:220px" asp-route-id="">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Restablecer contraseña
                                </a>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No exiten usuarios</p>
    }

</div>